In [1]:
import pandas as pd

### Data Source:   
https://www.fhfa.gov/DataTools/Downloads/Pages/Public-Use-Databases.aspx

### Import CSV File
- add sep = '\t' for txt files (for excel, see below)
- add usecols = ['Year','Bank','MSA'] to limit columns imported
- Additional methods: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [2]:
mtg_data = pd.read_csv('/mortgage-data/2017_PUDB_Export.csv')

### View Number of Records

In [3]:
len(mtg_data)

55990

### View Rows

In [4]:
mtg_data.head()

,Year,Assigned ID,Bank,FIPSStateCode,FIPSCountyCode,MSA,FeatureID,Tract,MinPer,TraMedY,...,Corace2,Corace3,Corace4,Corace5,HOEPA,LienStatus,SpcHsgGoals,FedFinStbltyPlan,AcqTyp,GSEREO
0,2017,2092102,Atlanta,72,15,25020,1609553,2802.02,99.15,15863,...,6,6,6,6,2,1,2,2,1,2
1,2017,2092103,Atlanta,66,10,99999,9999999999,9540.00,92.90,75804,...,6,6,6,6,2,1,2,2,1,2
2,2017,2092104,Atlanta,66,10,99999,1389637,9563.00,92.90,49250,...,6,6,6,6,2,1,2,2,1,2
3,2017,2092105,Atlanta,48,439,19100,1337443,1141.03,25.31,102791,...,6,6,6,6,2,1,2,2,1,2
4,2017,2092106,Atlanta,6,99,33700,277574,32.02,71.74,58235,...,6,6,6,6,2,1,2,2,1,2

### View Columns

In [5]:
list(mtg_data)

['Year',
 'Assigned ID',
 'Bank',
 'FIPSStateCode',
 'FIPSCountyCode',
 'MSA',
 'FeatureID',
 'Tract',
 'MinPer',
 'TraMedY',
 'LocMedY',
 'Tractrat',
 'Income',
 'CurAreY',
 'IncRat',
 'UPB',
 'LTV',
 'MortDate',
 'AcquDate',
 'Purpose',
 'Coop',
 'Product',
 'FedGuar',
 'Term',
 'AmorTerm',
 'SellType',
 'NumBor',
 'First',
 'CICA',
 'BoRace',
 'CoRace',
 'BoGender',
 'CoGender',
 'BoAge',
 'CoAge',
 'Occup',
 'NumUnits',
 'Bed1',
 'Bed2',
 'Bed3',
 'Bed4',
 'Aff1',
 'Aff2',
 'Aff3',
 'Aff4',
 'Rent1',
 'Rent2',
 'Rent3',
 'Rent4',
 'RentUt1',
 'RentUt2',
 'RentUt3',
 'RentUt4',
 'Geog',
 'Rate',
 'Amount',
 'Front',
 'Back',
 'BoCreditScor',
 'CoBoCreditScor',
 'PMI',
 'Self',
 'PropType',
 'ArmIndex',
 'ArmMarg',
 'PrepayP',
 'BoEth',
 'Race2',
 'Race3',
 'Race4',
 'Race5',
 'CoEth',
 'Corace2',
 'Corace3',
 'Corace4',
 'Corace5',
 'HOEPA',
 'LienStatus',
 'SpcHsgGoals',
 'FedFinStbltyPlan',
 'AcqTyp',
 'GSEREO']

### Import Excel Data
- Additional methods: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html

In [6]:
mtg_excel = pd.read_excel('/mortgage-data/2017_PUDB_Export.xlsx',sheet_name='Sheet1')